#outerContainer{
    /* background-color: #E5F0FD; */
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#innerContainer{
    width: 900px;
}

#title{
    padding-top: 20px;
    font-size: 30px;
    color: #266386;
}

#hero{
    width: 900px;
    /* padding-left:30px ; */
}

@media screen and (max-width: 900px){
    #hero{
        width: 100%;
    }

    #innerContainer{
        width: 600px;
}
    
}

@media screen and (max-width: 620px){
    #innerContainer{
        width: 400px;
}
    
}

@media screen and (max-width: 420px){
    #innerContainer{
        width: 95%;
}
    
}