#placeholder{
    opacity: 0;
    position: absolute;
    cursor: context-menu;
    z-index: -10;
}

#outerContainer{
    /* background-color: #E5F0FD; */
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    /* padding: 50px 0; */
}

#innerContainer{
    padding: 50px 0;
    width: 1200px;
}

#title{
    padding-top: 20px;
    font-size: 30px;
    color: #266386;
}

#hero{
    background-image: url('./nav/assets/Hero.jpg');
    width: 100%;
    height: 40vw;
    /* height: 800px; */
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

#bottomhero{
    width: 100%;
    height: 400px;
    /* padding-bottom: 50px; */
    background-image: url('./assets/bottom.jpg');
    background-position: center;
    background-repeat: no-repeat;
}

/* @media screen and (max-width:1300px{
    
} */

@media screen and (max-width:1200px){
    #innerContainer{
        width: 900px;
}
}

@media screen and (max-width: 900px){
    #hero{
        height: 400px;
    }

    #innerContainer{
        width: 600px;
}
    
}

@media screen and (max-width: 620px){
    #innerContainer{
        width: 400px;
}
    
}

@media screen and (max-width: 420px){
    #innerContainer{
        width: 95%;
}
    
}