#headerContainer{
    display: flex;
    width: 100%;
    height: 83px;
    flex-direction: column;
    align-items: center;
    position: absolute;
    top: 0;
}

#logomotto{
    display: flex;
    width: 100%;
    justify-content: space-between;
    align-items: center;
}

#logo{
    width: 250px;
    cursor: pointer;

}

#logoContainer{
    /* width: 40%; */
    padding: 3px 0 0 30px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    
}

#motto{
    width: 350px;
    font-size: 22px;
    font-style: italic;
    font-weight: 600;
    color: white;
    padding-left: 30px;
}

#hamburger[isopen=false]{
    font-size: 40px;
    font-weight: 700;
    padding-right: 40px;
    cursor: pointer;
    color: #ffffff;
    user-select: none;
    -moz-user-select: none;
    -webkit-user-select: none;
}

#navbarContainer[isopen=true]{
    position: fixed;
    width: 100vw;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.7);
    z-index: 10;
    display: flex;
    justify-content: flex-end;
}

#navbarContainer[isopen=false]{
    display: none;
}

#navPlaceholder{
    height: 100%;
    width: calc(100vw - 250px)
}

#navbar{
    width: 250px;
    height: 100%;
    background-color: rgb(34, 34, 34);
    color: white;
    border-left: solid 5px #106699;
    z-index: 11;
    user-select: none;
    -moz-user-select: none;
    -webkit-user-select: none;
    display: flex;
    flex-direction: column;
}

#navbar[isopen =true]{
    transform: translateX(0%);
    transition: all 0.3s ease-in-out;
}

#navbar[isopen =false]{
    transform: translateX(0%);
    transition: all 0.3s ease-in-out;
}

#close{
    align-self: flex-end;
    font-size: 25px;
    padding: 10px 20px 10px ;
    cursor: pointer;
}

.navItem{
    font-size: 20px;
    width: calc(100%-20px);
    background-color: rgb(46, 46, 46);
    border-bottom: solid 1px grey;
    border-top: solid 1px grey;
    padding: 10px 0 10px 20px;
    cursor: pointer;
}

.navItem:hover{
    background-color: rgb(83, 83, 83);
}

#active{
    background-color: #106699;
}

#active:hover{
    background-color: rgb(66, 123, 156);

}

#showDrop{
    display: block;
}

#hideDrop{
    display: none;
}

.activeDropItem{
    background-color: #106699;
}

.dropItemText{
    width: 100%;
    padding: 10px 0 10px 35px;
    font-size: 18px;
    cursor: pointer;
}

.dropItemText:hover{
    background-color: rgba(255, 255, 255, 0.3);
}

@media screen and (max-width:900px) {
    #motto{
        display: none;
    }
    
}

@media screen and (max-width: 550px){
    

    #logo{
        width: 150px;
    }
    #headerContainer{
        height: auto;
    }

    #navbar[isopen=true]{
        width: 200px;
    }

    .navItem{
        padding: 10px 0;
    }

    #activeDrop{
        display: none;
    }
    #inlineActiveDrop{
        display: block;
        padding-top: 5px;
    }

    .dropItem{
        width: 200px;
    }

    #close{
        padding: 10px 20px 10px;
    }
}

@media screen and (max-width:425px) {
    #logo{
        width: 80px;
    }
    #hamburger[isopen=false]{
        font-size: 20px;
    color: white;

    }
}